html {
	margn:0;
	padgin:0;
}

body {
	margin:0;
	padding: 0;
	background-color: #fff;
}

input[type='text'] {
	padding:5px;
	color:#fff;
	background-color: #333;
	border: solid #111 2px;
}

select {
	padding:5px;
	background-color: #333;
	color:#fff;
	border: solid #111 1px;
}

.home-table-td {
	font-size:17px;
	color:#555;
	font-weight:bold;
}

.home-submit {
	margin-top: 10px;
	padding:7px 15px;
	border-radius: 5px;
	background-color: #111;
	color: #fff;
	border: solid #88a 1px;
	font-size: 14px;
	font-weight: bold;
}
.home-submit:hover {
	cursor: pointer;
	background-color: #fff;
	color: #111;
}

.striped-table td {
	padding: 5px;
	 border-bottom: solid #aaa 1px;
}

.header {
	background-color: #c22;
}
.header:hover {
	background-color: #228;
}
